.game-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 15px 50px 40px;
  overflow-x: hidden;
}

.game-page__header {
  text-align: center
}

.game-page__playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.game-page__playground_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.game-page__playground_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}