.game-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  max-width: 1200px;
  max-height: 100vh;
  padding: 15px 50px 40px;
  overflow-x: hidden;
}

.game-page__header {
  text-align: center;
}

.game-page__header p {
  margin-left: -30px;
}

.game-page__playground {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page__playground_header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.game-page__playground_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  min-width: 100%;
  margin-top: 4%;
  margin-bottom: 5%;
}

@media screen and (width < 920px) {
  .game-page__playground_cards {
    gap: 10px;
  }
}

@media screen and (width < 650px) {
  .game-page {
    gap: 15px;
  }

  .game-page__playground {
    margin-top: 6%
  }
}

@media screen and (width < 550px) {
  .game-page {
    gap: 0;
  }

  .game-page__header {
    text-align: left;
  }

  .game-page__playground_header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .game-page__header p {
    margin-left: 0;
  }
}