.button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 16rem;
  height: 3rem;
  color: #373737;
  font-weight: 400;
  font-size: 1rem;
  background-color: #FFF1D7;
  border: #373737;
  border-radius: 0.7rem;
  box-shadow: rgb(149 157 165 / 10%) 0 4px 14px;
  transition: ease-in-out 0.2s;
}

.button:hover {
  background-color: #ffe8bc;
  transition: ease-in-out 0.2s;
}