.finish-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  min-width: 400px;
  height: max-content;
  min-height: 350px;
  padding: 30px 40px;
  background-color: #FFF;
  background-image: url('../../../public/images/rabbit-with-balloons.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  border-radius: 20px;
  transition: opacity 300ms ease-in-out;
}

.finish-modal__headline {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bolder;
  font-size: x-large;
}

.table-wrapper {
  flex-grow: 1;
  width: 90%;
}

.finish-modal__leaderboard {
  width: 80%;
  margin-right: 30px;
  margin-bottom: 15px;
  border-collapse: collapse;
}


th.finish-modal__leaderboard_headline {
  padding-bottom: 10px !important;
  color: #ffc144;
}

.finish-modal__greeting {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 400;
  font-size: medium;
}

.finish-modal__leaderboard th, td {
  padding: 5px 10px;
  text-align: left;
}

.finish-modal__leaderboard tr:last-child {
  border-bottom: none;
}

.finish-modal__leaderboard_score {
  padding-left: 30px;
  text-align: left;
}

.finish-modal__leaderboard_time {
  color: rgb(134 100 154);
  font-weight: 600;
}

@media screen and (width < 1100px) {
  .finish-modal {
    width: 50%;
  }
}

@media screen and (width < 800px) {
  .finish-modal {
    width: 60%;
  }
}

@media screen and (width < 420px) {
  .finish-modal {
    width: 90%;
    min-width: 300px;
    padding: 30px 20px;
    background-size: 30%;
  }
}